<%= turbo_stream_from :move_updates %>
<% pieces = presenter.pieces %>
<div 
    id="chess_board"
    data-controller="piece"
    data-piece-available-class="move-available"
    data-piece-selected-class="piece-selected">
    <div class="w-full max-w-fit flex flex-col mb-24 px-8">
        <% letters = ('a'..'h').to_a.reverse %>
        <% chess_board.each_with_index do |y_axis, y| %>
            <div class="flex">
                <div class="numerals flex justify-center items-center">
                    <span><%= letters[y] %></span>
                </div>
                <% y_axis.each_with_index do |x_axis, x| %>
                    <% square = define_square(x, y) %>
                    <% piece = piece_helper(pieces, x, y) %>
                    <div class="square <%= square[:color] == 0 ? "black" : "white" %>" 
                            data-piece-x="<%= square[:x] %>"
                            data-piece-y="<%= square[:y] %>"
                            data-piece-item="<%= piece.to_json %>"
                            data-piece-target="piece"
                            data-action=<%= restrict_actions_to_user(piece) %>>
                            <p class="pointer-events-none"><%= piece && "#{piece[:color]} #{piece[:piece_type]}" %></p>
                    </div>
                <% end %>
            </div>
        <% end %>
        <div class="w-full flex grow"> <!-- Numbers -->
            <div class="numerals"></div><!-- Placeholder Element -->
            <% (1..8).to_a.each do |n| %>
                <div class="flex justify-center items-center grow">
                    <span><%= n %></span>
                </div>  
            <% end %>
        </div>
    </div>
</div>